    .site-banner {
      background: #f8f9fa;
      padding: 2rem 1rem;
      border-bottom: 2px solid #dee2e6;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .site-title {
      font-size: 2rem;
      font-weight: bold;
    }
    .site-subtitle {
      font-size: 1.4rem;
      font-weight: bold;
      color: #446;
    }
    .logo-univ {
      height: 90px;
      margin-left: 2rem;
      margin-right: 2rem;
    }

    .fnavbar{
      background: #e72f2a;
      color: #fff;
    }

    .fnavbar-dark .navbar-nav .nav-link {
      font-size: 1.2rem;
       margin-left: 1rem;
       color: #eee;
       font-weight: bold;
    }

    .fnavbar-brand {
      font-size: 1.6rem;
      margin-left: 1rem;
       color: #fff;
       font-weight: bold;
    }

    h1, h2, h3 {
      color: #446;
      padding: 2rem 0px;
    }

    h4 {
      padding: 1rem 0px;
    }

    .h2{
        font-size: 2rem;
    }

    .ffooter {
        flex-shrink: 0;
        padding: 5px 0px; 
        background-color: #eee;
        padding: 1rem 0;
        width: 100%;
    }

    fa {
      color: #4466ee;
    }
    fa.titre {
      color: #e72f2a;
    }

    .citation{
      font-style: italic;
    }
    .fsignature{
      text-align: right;
    }

