<!DOCTYPE html>
<html lang="fr">
<head>

	<!--<script scr="import/jquery-3.6.0.min.js"></script>-->
	<link rel="stylesheet" href="/assets/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/bootstrap-icons.css">
  <link rel="stylesheet" href="/assets/edt.css">

	<meta charset="utf-8">
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Iana Atanassova">
	<meta name="keywords" lang="fr"
		content="master, traitement automatique des langues, TAL, master, linguistique computationelle, informatique, linguistique, besan&ccedil;on, licence, sciences du langage, langues, laboratoire, recherche, universit&eacute;, cours, formation, m&eacute;tiers, d&eacute;bouch&eacute;s, france, UMLP, Université Marie et Louis Pasteur, CRIT">
	<meta name="keywords" lang="en"
		content="master, computational linguistics, natural language processing, NLP, linguistics, besancon, master, language, research, university, Centre Tesniere, semantic processing, semantic annotation, controlled language, automatic translation, Scientific papers, research, researcher, information retrieval, information extraction, search engine, university teaching, UMLP, Université Marie et Louis Pasteur, CRIT">
	<title>{{ page.title }}</title>

</head>

<body id="page-top">

      <!-- Bannière du site -->
  <header class="site-banner container-fluid">
    <div>
      <div class="site-title"><a href="https://www.umlp.fr/" target="_blank" class="titre">Université Marie et Louis Pasteur</a></div>
      <div class="site-subtitle">Département Traitement Automatique des Langues (TAL)</div>
    </div>  <div> <img src="/assets/images/logo_deptm_tal.png" alt="Logo TAL" class="logo-univ">
    <a href="https://crit.univ-fcomte.fr/" target="_blank"><img src="/assets/images/UMLP-CRIT.png" alt="Logo" class="logo-univ"></a> </div>
  </header>

  <!-- Menu de navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="https://mastertalumlp.github.io/">Accueil</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Afficher le menu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
        	<li class="nav-item">
            <a class="nav-link" href="actualites.html">Actualités</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="master.html">Master TAL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="edt.html">Emplois de temps Master TAL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="licence.html">Parcours Licence TAL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="uels.html">UE libres</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="equipe.html">Equipe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="ressources.html">Ressources</a>
          </li>
        </ul>
      </div>
  </nav>


	<div class="container-fluid">
<div class="mb-5"></div>

<div class="m-5">

{{ content }}

</div> 

<div class="mb-5"></div>
	</div>

	<footer class="footer">
		<div class="container-fluid">
			<div class="row" id="footer">
				<div class="col-9"> Responsable du site : <a href="mailto:iana.atanassova@umlp.fr">Iana ATANASSOVA</a>
	</div>
	<div class="col-3 text-end">
		Hosted on GitHub Pages
	</div>

			</div>
		</div>
	</footer>

<script src="/assets/bootstrap.min.js"></script>
</body>
</html>