<!DOCTYPE html>
<html lang="fr">
<head>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

  <link rel="stylesheet" href="/assets/mystyles.css">

	<meta charset="utf-8">
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Iana Atanassova">
	<meta name="keywords" lang="fr"
		content="master, traitement automatique des langues, TAL, master, linguistique computationelle, informatique, linguistique, besan&ccedil;on, licence, sciences du langage, langues, laboratoire, recherche, universit&eacute;, cours, formation, m&eacute;tiers, d&eacute;bouch&eacute;s, france, UMLP, Université Marie et Louis Pasteur, CRIT">
	<meta name="keywords" lang="en"
		content="master, computational linguistics, natural language processing, NLP, linguistics, besancon, master, language, research, university, Centre Tesniere, semantic processing, semantic annotation, controlled language, automatic translation, Scientific papers, research, researcher, information retrieval, information extraction, search engine, university teaching, UMLP, Université Marie et Louis Pasteur, CRIT">
	<title>{{ page.title }}</title>

</head>

<body id="page-top">

      <!-- Bannière du site -->
  <header class="site-banner container-fluid">
    <div>
      <div class="site-title"><a href="https://www.umlp.fr/" target="_blank" class="titre">Université Marie et Louis Pasteur</a></div>
      <div class="site-subtitle">Département Traitement Automatique des Langues (TAL)</div>
    </div>  <div> <img src="/assets/images/logo_deptm_tal.png" alt="Logo TAL" class="logo-univ">
    <a href="https://crit.univ-fcomte.fr/" target="_blank"><img src="/assets/images/UMLP-CRIT.png" alt="Logo" class="logo-univ"></a> </div>
  </header>

  <!-- Menu de navigation -->
<nav class="navbar navbar-expand-lg" style="background-color: #ffcbaa;" data-bs-theme="light">
  <a class="navbar-brand" href="https://mastertalumlp.github.io/">Accueil</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="actualites.html">Actualités</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="mastertal" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Master TAL
        </a>
        <div class="dropdown-menu" aria-labelledby="mastertal">
          <a class="dropdown-item" href="master.html">Description du cursus Master TAL</a>
          <a class="dropdown-item" href="memoire.html">Le mémoire de recherche en Master TAL</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="edt.html">Emplois de temps Master TAL</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="licence" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Licence parcours TAL
        </a>
        <div class="dropdown-menu" aria-labelledby="licence">
          <a class="dropdown-item" href="licence.html">Description des cursus Licence parcours TAL</a>
          <a class="dropdown-item" href="uels.html">UE Libres en Licence 3</a>
        </div>
      </li>

      <li class="nav-item">
            <a class="nav-link " href="equipe.html">Equipe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="ressources.html">Ressources</a>
          </li>

    </ul>
  </div>
</nav>

	<div class="container-fluid">
<div class="mb-5"></div>

<div class="row">

<div class="col-1">
</div>

<!--<div class="m-5"> -->

<div class="col-10">

{{ content }}

</div> 

</div>

<div class="mb-5"></div>
	</div>

	<footer class="footer">
		<div class="container-fluid">
			<div class="row" id="footer">
				<div class="col-9"> Responsable du site : <a href="mailto:iana.atanassova@umlp.fr">Iana ATANASSOVA</a>
	</div>
	<div class="col-3 text-end">
		Hosted on GitHub Pages
	</div>

			</div>
		</div>
	</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>